.block-character {
  width: 100%;
  max-width: 330px;
}

.name-character {
  font-size: 25px;
  color: #baff39;
  cursor: pointer;
}

.name-character span {
  font-weight: 700;
}

.eye_color {
  display: flex;
  gap: 10px;
}

.eye_color span {
  display: block;
  width: 20px;
  height: 20px;
}
