@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  background: #6e6e6e;
  color: #fff;
  font-family: 'Roboto', sans-serif;
}

#root {
  max-width: 1920px;
  margin: 0 auto;
}
